<template>
  <v-container 
    class="fill-height"
    fluid
    >
    <v-overlay :value="cargando">
      <v-progress-circular indeterminate size="64"></v-progress-circular>
    </v-overlay>
    <v-carousel
      :cycle="false"
      height="auto"
      hide-delimiter-background      
      v-model="carouseleIndex"
    >
    <v-carousel-item
      v-for="(afiche, i) in afiches"
      :key="i"
    >
      <v-row
          :class="`fill-height px-10 ${afiche.color}`"
          align="center"
          justify="center"
        >
           <v-col cols="4">
            <v-img contain height="400px" aspect-ratio="1:1" :src="miniatura" :alt="afiche.titulo"></v-img>
          </v-col>
          <v-col cols="8" class="px-10">
            <h1 class="text-center text-capitalize">{{afiche.titulo}}</h1>
            <p class="">{{afiche.resumen}}</p>
            <v-btn class="mb-10" @click="irAfiche" block>Unirse al chat</v-btn>
          </v-col>
        </v-row>
      
    </v-carousel-item>
  </v-carousel>
  </v-container>
</template>

<script>
import firebaseApp from '../firebaseInit'
export default {
  created() {
    const db= firebaseApp.firestore()
    const storage=firebaseApp.storage()
    db.collection('/afiches').get()
    .then(data=>{
      data.forEach(dataAfiche=>{
        let afiche=dataAfiche.data()
        afiche.anfitrion=dataAfiche.id
        afiche.color=this.colores[Math.floor(Math.random()*this.colores.length)-1]
        storage.refFromURL(afiche.aficheMiniatura).getDownloadURL()
        .then(url=>{
          afiche.miniatura=url
        }).catch(error=>{
          console.log(`Error al cargar la miniatura del afiche. ${error.message}`)
        })
        this.afiches.push(afiche)
      })
    }).catch(error=>{
      console.log(`Error al cargar los datos de los afiches: ${error.message}`)
    }).finally(()=>{
      this.cargando=false
    })
  },
  data() {
    return {
      cargando:true,
      carouseleIndex:0,
      afiches:[],
      colores:[
        'red lighten-3',
        'purple lighten-3',
        'deep-purple lighten-2',
        'indigo lighten-2',
        'blue lighten-2',
        'cyan lighten-2',
        'teal lighten-2',
        'light-green lighten-2',
        'orange lighten-2',
        'deep-orange lighten-2',
        'brown lighten-2',
        'blue-grey lighten-2'
      ]
    }
  },
  computed: {
    miniatura(){
      return this.afiches[this.carouseleIndex].miniatura
    }
  },
  methods: {
    irAfiche(){
      const parametros={
        cartel:this.afiches[this.carouseleIndex].titulo,
        anfitrionId:this.afiches[this.carouseleIndex].anfitrion,
      }
      this.$router.push({ name: 'afiche', params: parametros })
    }
  },
}
</script>

<style>

</style>