<template>
  <v-container fluid class="pa-0">
    <!-- Paralax principal -->
    <v-row align="center" justify="center" class="white--text" no-gutters>
      <v-col cols="12">
        <v-parallax @click="afiche==true" src="../assets/banner.jpg" height="600">
          <v-img src="../assets/unellez.png" alt="unellez" max-height="200" contain />
          <h1 class="white--text mb-2 display-1 text-center">
            1
            <sup>er</sup> Congreso Internacional de Investigación Educativa
          </h1>
          <div class="subheading mb-4 text-center">Complejidad, Innovacion e Incertidumbre</div>
          <div class="subheading mb-4 text-center">UNELLEZ 2019</div>
        </v-parallax>
      </v-col>
    </v-row>

    <v-row  justify="center">
      <v-col cols="12">
        <v-parallax
          src="https://images.unsplash.com/photo-1561089489-f13d5e730d72?ixlib=rb-1.2.1&auto=format&fit=crop&w=1867&q=80"
        >
          <v-row align="center" justify="center">
            <v-col xs="12" sm="6" md="4">
              <v-card class="vcard-registro" elevation="12">
                <v-card-title>
                  <v-row justify="center">
                    <v-col cols="12" class="heading text-center">
                      <h2>Exposicion de carteles</h2>
                      </v-col>
                  </v-row>
                </v-card-title>
                <v-card-text>
                  <v-text-field
                    v-model="correo"
                    label="Correo electronico"
                    v-if="!haySesion"
                    prepend-inner-icon="mdi-email"
                  />
                  <v-text-field
                    name="password"
                    v-model="clave"
                    label="Inserte su clave"
                    max="12"
                    v-if="!haySesion"
                    :type="ocultarClave ? 'password' : 'text'"
                    :append-icon="ocultarClave? 'mdi-eye-off' : 'mdi-eye'"
                    prepend-inner-icon="mdi-key"
                    @click:append="ocultarClave= !ocultarClave"
                  />
                </v-card-text>
                <v-card-actions class="justify-center">
                  <v-btn
                  color="success"
                  @click="iniciarSesion"
                  v-if="!haySesion"
                  tile
                  prepend-icon="mdi-login"
                  >
                    Iniciar sesion
                  </v-btn>
                  <v-btn
                  color="error"
                  @click="cerrarSesion"
                  v-if="haySesion"
                  tile
                  prepend-ico="mdi-logout"
                  >
                    Cerrar sesion
                  </v-btn>
                  <v-btn
                  color="info"
                  to="/bienvenido"
                  v-if="haySesion"
                  tile
                  prepend-ico="mdi-post"
                  >
                    Ir a afiches
                  </v-btn>
                  <v-dialog width="640" v-model="dialogoRegistro" v-if="haySesion">
                    <template v-slot:activator="{ on }">
                      <v-btn @click="dialogoRegistro=!dialogoRegistro" color="secondary">Datos de usuario</v-btn>
                    </template>
                    <v-card>
                      <v-toolbar color="primary" dark>
                        <v-toolbar-title>Datos de usuario</v-toolbar-title>
                        <v-spacer />
                        <v-btn @click="dialogoRegistro=!dialogoRegistro" icon>
                          <v-icon>mdi-close</v-icon>
                        </v-btn>
                      </v-toolbar>
                      <v-row justify="center">
                        <h2 class="titiel mb-2"></h2>
                      </v-row>
                      <v-row justify="space-around">
                        <p class="body-1">Debe completar estos datos para participar en el chat</p>
                      </v-row>
                      <v-card-text>
                        <datospersonales />
                      </v-card-text>
                    </v-card>
                  </v-dialog>
                  <!-- <v-dialog width="640" v-model="dialogoRegistro">
                    <template v-slot:activator="{ on }">
                      <v-btn @click="dialogoRegistro=!dialogoRegistro" color="secondary">Registrate</v-btn>
                    </template>
                    <v-card>
                      <v-toolbar color="primary" dark>
                        <v-toolbar-title>Registro de ponentes</v-toolbar-title>
                        <v-spacer />
                        <v-btn @click="dialogoRegistro=!dialogoRegistro" icon>
                          <v-icon>mdi-close</v-icon>
                        </v-btn>
                      </v-toolbar>
                      <v-row justify="center">
                        <h2 class="titiel mb-2"></h2>
                      </v-row>
                      <v-row justify="space-around">
                        <p class="body-1">Registro de participantes en el congreso</p>
                      </v-row>
                      <v-card-text>
                        <iframe
                          src="https://docs.google.com/forms/d/e/1FAIpQLSfNJk3UmZOcaxSxsuIcp33XVGW_PbKfVcyYP2iPK8wzJkwFKA/viewform?embedded=true"
                          width="640"
                          height="1874"
                          frameborder="0"
                          marginheight="0"
                          marginwidth="0"
                        >Cargando…</iframe>
                      </v-card-text>
                    </v-card>
                  </v-dialog> -->
                </v-card-actions>
              </v-card>
            </v-col>
          </v-row>
        </v-parallax>
      </v-col>
    </v-row>

    <section>
      <v-container grid-list-xl>
        <v-layout row wrap justify-center class="my-12">
          <v-flex xs12 sm4>
            <v-card flat class="transparent">
              <v-img class="align-center" height="auto" src="../assets/ginsotec.jpg"></v-img>
              <v-card-text>Este portal fue desarrollado por integrantes del grupo de investigacion GINSOTEC, inscrito en la Universidad Nacional Experimental de los Llanos "Ezequiel Zamora".</v-card-text>
              <v-card-actions>
                <v-btn block tile href="mailto:ginsotec@gmail.com" color="success">
                  <v-icon>mdi-email</v-icon>Contactanos
                </v-btn>
              </v-card-actions>
            </v-card>
          </v-flex>
          <v-flex xs12 sm4 offset-sm1>
            <v-card flat class="transparent">
              <v-card-title primary-title class="layout justify-center">
                <div class="headline">
                  <v-img class="align-center" height="auto" src="../assets/logunellez.png"/>
                </div>
              </v-card-title>
              
              <v-list class="transparent">
                <v-list-item>
                  <v-list-item-action>
                    <v-icon class="blue--text text--lighten-2">mdi-phone</v-icon>
                  </v-list-item-action>
                  <v-list-item-content>
                    0273-5302111
                  </v-list-item-content>
                </v-list-item>
                <v-list-item>
                  <v-list-item-action>
                    <v-icon class="blue--text text--lighten-2">mdi-map-marker</v-icon>
                  </v-list-item-action>
                  <v-list-item-content>
                      <p>Av. 23 de Enero, Redoma de Ezequiel Zamora, Sede UNELLEZ - Barinas- Estado- Barinas.</p>
                  </v-list-item-content>
                </v-list-item>
                <v-list-item>
                  <v-list-item-action>
                    <v-icon class="blue--text text--lighten-2">mdi-email</v-icon>
                  </v-list-item-action>
                  <v-list-item-content>
                    webmaster@unellez.edu.ve
                  </v-list-item-content>
                </v-list-item>
              </v-list>
            </v-card>
          </v-flex>
        </v-layout>
      </v-container>
    </section>

    <v-footer color="blue darken-2">
      <v-layout row wrap align-center>
        <v-flex xs12>
          <div class="white--text ml-4">
            Hecho con
            <v-icon class="red--text">mdi-heart</v-icon>y
            <a class="white--text" href="https://vuetifyjs.com" target="_blank">Vuetify</a>
          </div>
        </v-flex>
      </v-layout>
    </v-footer>
  </v-container>
</template>

<script>
import { mapState } from "vuex";
import registro from "../components/Registro";
import firebase from 'firebase'
import router from "vue-router"
import datospersonales from '../components/DatosPersonales'
export default {
  name: "Index",
  components: { registro,datospersonales },
  data() {
    return {
      dialogoRegistro: false,
      afiche: true,
      cargado: false,
      ocultarClave:true,
      correo:'',
      clave:'',
      itemsIndex: [
        {
          titulo: "Misión",
          texto:
            "Promover el diálogo de conocimientos y  saberes educativos  ante los desafíos, complejidades e incertidumbres de la sociedad del conocimiento y las demandas de los países latinoamericanos.",
          icono: "mdi-certificate"
        },
        {
          objetivos: [
            "Socializar los avances y resultados de  investigación educativa sobre  América Latina.",
            "Propiciar un espacio para el intercambio de saberes y experiencias educativas, entre los doctorandos en Educación de la Universidad de Carabobo  y  profesionales, docentes e investigadores de otras instituciones nacionales e internacionales. ",
            "Propiciar la construcción de redes de investigación en el campo de la investigación educativa."
          ],
          titulo: "Objetivos específicos",
          icono: "mdi-format-list-checks"
        },
        {
          titulo: "Visión",
          texto:
            "Ofrecer respuestas a los desafíos, complejidades e incertidumbres que impone la sociedad del conocimiento a la educación, que atiendan a las especificidades de los países latinoamericanos.",
          icono: "mdi-eye-outline"
        }
      ],
      objetivoGeneral: {
        titulo: "Objetivo general",
        texto:
          "Reflexionar la producción intelectual acerca de la educación ante los retos, desafíos, incertidumbres y complejidades  de la sociedad del conocimiento y las demandas de los países latinoamericanos."
      }
    };
  },
  mounted() {
    cargador: true;
  },
  created() {
    //this.$store.dispatch("bindIndexRef");
  },
  computed: {
    haySesion(){
      return !!this.$store.state.user
    }
  },
  methods: {
    iniciarSesion(){
      firebase.auth().signInWithEmailAndPassword(this.correo,this.clave)
      .then(user=>{
        this.$router.push({path:'/bienvenido'})                
      })
      .catch(error=>{
        console.log(error)
      })
    },
    cerrarSesion(){
      firebase.auth().signOut()
      .catch(error=>{
        console.log(error)
      })
    }
  },
  watch: {
    afiche: function(val) {
      document.querySelector("html").style.overflow = val ? "hidden" : null;
    }
  }
};
</script>
<style scoped>
.vcard-registro {
  min-width: 260px;
  background-color: rgba(255, 255, 255, 1);
}
.v-card {
  overflow-x: hidden;
}
</style>