<template>
  <v-container id="chat-container" ref="chat-container">
      <v-btn
        fab
        color="info"
        bottom
        right
        large
        fixed
        v-show="!mensajeNuevoShow"
        @click="mensajeNuevoShow = !mensajeNuevoShow"
      >
        <v-icon>mdi-message</v-icon>
      </v-btn>
        <v-col cols="12">
          <v-row
          
            v-for="(mensaje,id) in chat"
            :key="id"
            class="mb-5"
            :class="{
                'justify-end text-end ml-5': anfitrionId===mensaje.usuarioId || usuarioId===mensaje.usuarioId,
                'justify-start text-start mr-5': !(anfitrionId===mensaje.usuarioId || usuarioId===mensaje.usuarioId)
              }"
          >
            <v-card>
              <v-card-subtitle
                class="font-weight-bold"
                :class="{
                    'chatAnfitrion': anfitrionId===mensaje.usuarioId,
                    'chatUsuario': usuarioId===mensaje.usuarioId,
                    'chatOtros': !(anfitrionId===mensaje.usuarioId || usuarioId===mensaje.usuarioId)
                  }"
              >
                {{mensaje.usuarioDisplayName}}
                {{anfitrionId===mensaje.usuarioId?'(Ponente)':''}}
                {{usuarioId===mensaje.usuarioId?'(Yo)':''}}
              </v-card-subtitle>
              <v-card-text class="body-1">
                {{mensaje.mensaje}}
                <p class="caption">{{mensaje.timestamp}}</p>
              </v-card-text>
            </v-card>
          </v-row>
        </v-col>
      <v-divider v-show="false" ref="finchat"></v-divider>
      <v-snackbar v-model="mensajeNuevoShow" :timeout="0">
        <v-textarea
          placeholder="Escribe tu mensaje aquí"
          v-model="textomensajeNuevo"
          :auto-grow="true"
          rows="1"
          :loading="enviando"
          :disabled="enviando"
          :loader-height="15"
        >
          <template slot="append">
            <v-btn v-if="textomensajeNuevo" @click="enviarMensaje" icon>
              <v-icon color="success">mdi-send</v-icon>
            </v-btn>
            <v-btn v-if="!textomensajeNuevo" @click="mensajeNuevoShow = false" icon>
              <v-icon color="error">mdi-close</v-icon>
            </v-btn>
          </template>
        </v-textarea>
      </v-snackbar>
  </v-container>
</template>

<script>
import firebaseApp from "../firebaseInit";
export default {
  name:'Chat',
  created() {
    const db = firebaseApp.firestore();
    const aficheData = db.doc(`/afiches/${this.anfitrionId}`);
    aficheData.collection("chat")
      .where("timestamp","<",Date.now().toString())
      .get()
      .then(snapshot=>{
        const mensajes=snapshot.docs
        console.log("Cargando mensajes previos")
        for (let index = mensajes.length -1; index >= 0; index--) {
          const mensaje = mensajes[index].data();
          this.chat.unshift(mensaje)
        }
        //console.log(...snapshot.docs.data())
        
      })
      .catch(error=>{
        console.log("Error al recuperar mensajes antiguos del chat: " + error.message)
      })
    aficheData.collection("chat")
      .where("timestamp",">=",Date.now().toString())
      .orderBy("timestamp", "asc")
      .onSnapshot(mensaje => {
        console.log(`Mensaje recibido`);
        mensaje.docChanges().forEach(msj => {
          if (msj.type == "added") {
            this.chat.push(msj.doc.data());
            this.$nextTick(this.scrollChat)
          }
        });
    console.log("Esperando nuevos mensajes...")
      });
  },
  data() {
    return {
      chat:[],
      mensajeNuevoShow:false,
      textomensajeNuevo:'',
      enviando:false,
    }
  },
  computed: {
    mensajeNuevo(){
      return{
        mensaje:this.textomensajeNuevo,
        usuarioId:firebaseApp.auth().currentUser.email,
        usuarioDisplayName:firebaseApp.auth().currentUser.displayName
      }
    }
  },

  mounted() {
    
  },

  methods: {
    scrollChat:function (){
      const chatRef=document.getElementById("chat-container")
      chatRef.scrollTop=chatRef.scrollTopMax
    },
    enviarMensaje (){/*
      if(firebaseApp.auth().currentUser==null){
        return
      }*/
      this.enviando=true
      const db =firebaseApp.firestore()
      db.doc(`/afiches/${this.anfitrionId}`).collection("chat").add(this.mensajeNuevo).
      then(resultado=>{
        this.textomensajeNuevo=''
      }).
      catch(error=>{
        console.log(`Error al enviar mensaje: ${error.message}`)
      }).finally(()=>{
        this.enviando=false
        this.mensajeNuevoShow=false
      })
    }
  },
  props: {
    anfitrionId: {
      type: String,
      default: 'ginsotec@gmail.com'
    },
    usuarioId: {
      type: String,
      default: 'ginsotec@gmail.com'
    },
  }
};
</script>

<style scoped>

#chat-container{
  max-height: 100vh;
  overflow-y: auto;
}
</style>