<template>
  <v-container>
      <v-row justify="center" align="start">
        <v-snackbar
          v-model="estadoSnack" 
          top
          vertical
          color="info"
          :absolute="true"
          :timeout="6000"
          >
          {{textoSnack}}
        </v-snackbar>
        <v-col xs="12" sm="10" md="8">
          <v-form @submit.prevent="onSubmit" v-model="formularioValido" ref="formRegistro">
            <v-btn
              color="accent"
              block
              :disabled="!btnActivo"
              :loading="!btnActivo"
              @click="cambioClave"
            >
              <v-icon>mdi-account-key</v-icon>
              Solicitar cambio de clave
            </v-btn>
            <v-text-field
              name="nombres"
              :disabled="!btnActivo"
              :error-messages="nombresError"
              label="Nombres"
              v-model="nombres"
              prepend-inner-icon="mdi-account"
              @change="$v.nombres.$touch()"
              @blur="$v.nombres.$touch()"
              @keypress="soloLetras('nombres',$event)"
            />
            <v-text-field
              name="apellidos"
              :disabled="!btnActivo"
              :error-messages="apellidosError"
              label="Apellidos"
              v-model="apellidos"
              prepend-inner-icon="mdi-account"
              @change="$v.apellidos.$touch()"
              @blur="$v.apellidos.$touch()"
              @keypress="soloLetras('apellidos',$event)"
            />
            <v-text-field
              name="cedula"
              :error-messages="cedulaError"
              label="Cedula de identidad"
              :disabled="!btnActivo"
              v-model="cedula"
              prepend-inner-icon="mdi-account-card-details"
              hint="Inserte V, E, J ó P seguido solamente de números"
              @keypress="formato('cedula', $event)"
              max="8"
              @change="$v.cedula.$touch()"
              @blur="$v.cedula.$touch()"
            />
            <v-text-field
              name="telefono"
              label="Telefono"
              v-model="telefono"
              :disabled="!btnActivo"
              :error-messages="telefonoError"
              prepend-inner-icon="mdi-cellphone"
              hint="Solo inserte números"
              max="12"
              @keypress="formato('telefono', $event)"
              @change="$v.telefono.$touch()"
              @blur="$v.telefono.$touch()"
            />
            <v-text-field
              name="trabajaEstudia"
              :error-messages="trabajaEstudiaError"
              label="¿Donde trabaja o estudia?"
              :disabled="!btnActivo"
              v-model="trabajaEstudia"
              prepend-inner-icon="mdi-school"
              @change="$v.trabajaEstudia.$touch()"
              @blur="$v.trabajaEstudia.$touch()"
            />     
            <v-btn
                color="success"
                block
                type="submit"
                :disabled="!btnActivo"
                :loading="!btnActivo"
                @click="onSubmit"
              >
              Guardar datos
              </v-btn>
          </v-form>
        </v-col>
      </v-row>
  </v-container>
</template>

<script>
import { validationMixin } from 'vuelidate'
import { required, maxLength, minLength, email,alphaNum, integer, helpers } from 'vuelidate/lib/validators'
import firebaseApp from '../firebaseInit'
import { auth } from 'firebase';
import { mapState } from "vuex";
export default {
  components: {
  },

  mixins:[validationMixin],

  validations: {
    nombres:{required},
    apellidos:{required},
    telefono:{
      required,
      telefono:(valor)=>/04[2,1]{1}[4,6,2]{1}-[0-9]{7}/g.test(valor)
    },
    cedula:{required},
    trabajaEstudia:{required}
  },

  data() {
    return {
      nombres:'',
      apellidos:'',
      telefono:'',
      cedula:'',
      trabajaEstudia:'',
      formularioValido:false,
      btnActivo:true,
      textoSnack:'',
      estadoSnack:false
    }
  },
  created() {
    const db=firebaseApp.firestore()
    console.log(`Consulta de datos a: /usuarios/${auth().currentUser.email}`)
    db.doc(`/usuarios/${auth().currentUser.email}`).get()
    .then(data=>{
      if (data.exists)
      {
        console.log(data)
        const userInfo=data.data()
        this.nombres=userInfo.nombres
        this.apellidos=userInfo.apellidos
        this.telefono=userInfo.telefono
        this.cedula=userInfo.cedula
        this.trabajaEstudia=userInfo.trabajaEstudia
      }
      else{
        this.mensajeSnack('No tiene datos registrado, por favor llene su informacion para participar en el chat')
      }
      
    }).catch(error=>{
      console.log(error)
      this.mensajeSnack('Error al traer datos del usuario')
    })
  },
  methods: {
    formato: function(input, evento){
      if(input=='cedula')
      {
        switch (this.cedula.length) {
          case 0:
            if(!/[VEP]/g.test(evento.key.toUpperCase()))
            {
              evento.preventDefault()
            }
            else
            {
              this.cedula=evento.key.toUpperCase() + '-'
              evento.preventDefault()
            }
            break;
          case 1:
            this.cedula=this.cedula + '-'
            if(!/[0-9]/g.test(evento.key))
            {
              evento.preventDefault();
            }
            break;
          case 10:
            event.preventDefault()
            break;
          default:
            if(!/[0-9]/g.test(evento.key))
              {
                evento.preventDefault();
              }
            break;
        }
      }
      if(input=='telefono')
      {
        if(!/[0-9]/g.test(evento.key))
        {
          evento.preventDefault();
        }
        else if(this.telefono.length==4) {
          this.telefono=this.telefono + '-'
        }
      }
    },
    soloLetras(input, evento){
      if(!/[\sa-zA-Z]/g.test(evento.key)){
        evento.preventDefault()
      }
    },
    onSubmit() {
      console.log('Formulario valido: ' + !this.$v.$invalid)
      this.$v.$touch()
      if (!this.$v.$invalid)
      {
        this.btnActivo=false
        // Guardar datos en firebase
        const db=firebaseApp.firestore()
        db.doc(`/usuarios/${auth().currentUser.email}`).set(this.datosUsuario)
        .then(data=>{
          auth().currentUser.updateProfile({displayName:this.datosUsuario.displayName})
          .then(user=>{
            console.log('Datos de usuario actualizados')
            this.mensajeSnack('Datos de usuario actualizados')
          })
          console.log('Datos guardados')
          this.mensajeSnack('Datos guardados')
        })
        .catch(error=>{
          console.log(`Error al guardar los datos: ${error.message}`)
          this.mensajeSnack(`Error al guardar los datos: ${error.message}`)
        })
        .finally(()=>{
          this.btnActivo=false
        })
      }
    },
    cambioClave(){
      firebaseApp.auth().sendPasswordResetEmail(firebaseApp.auth().currentUser.email)
      .then( ()=>{
        console.log("Clave cambiada")
        this.mensajeSnack('Se ha enviado a su correo la solicitud de cambio de clave. Por favor consulte su correo')
      })
      .catch((error)=>{
        this.mensajeSnack(`Error al enviar el correo de cambio de clave: ${error.message}`)
      })
      
    },
    mensajeSnack(mensaje){
      this.textoSnack=mensaje
      this.estadoSnack=true
    }
  },
  computed: {
    datosUsuario(){
      return {
        apellidos:this.apellidos,
        cedula:this.cedula,
        nombres:this.nombres,
        telefono:this.telefono,
        trabajaEstudia:this.trabajaEstudia,
        displayName: this.nombres.split(' ')[0] + ' ' + this.apellidos.split(' ')[0]
      }
    },
    nombresError(){
      const validator=this.$v.nombres
      switch (true) {
        case !validator.$dirty:
          return ''
          break;      
        case !validator.required:
          return 'Nombres es requerido.'
          break;
      }

    },
    apellidosError(){
      const validator=this.$v.apellidos
      switch (true) {
        case !validator.$dirty:
          return ''
          break;      
        case !validator.required:
          return 'Apellidos es requerido.'
          break;
      }

    },
    cedulaError(){
      const validator=this.$v.cedula
      switch (true) {
        case !validator.$dirty:
          return ''
          break;      
        case !validator.required:
          return 'La cedula es requerida.'
          break;
      }

    },
    trabajaEstudiaError(){
      const validator=this.$v.trabajaEstudia
      switch (true) {
        case !validator.$dirty:
          return ''
          break;      
        case !validator.required:
          return 'Debe indicar donde trabaja o estudia.'
          break;
      }
    },
    telefonoError(){
      const validator=this.$v.telefono
      switch (true) {
        case !validator.$dirty:
          return ''
          break;      
        case !validator.required:
          return 'Debe indicar donde su numero de telefono.'
          break;
      }
    }
  }
}
</script>

<style>

</style>