<template>
  <v-container>
      <v-row justify="center" align="start">
        <v-col xs="12" sm="10" md="8">
          <v-form @submit.prevent="onSubmit" v-model="formularioValido" ref="formRegistro">
            <v-text-field
              label="E-mail"
              v-model="email"
              :disabled="!btnActivo"
              prepend-inner-icon="mdi-email"
              :error-messages="emailError"
              @change="$v.email.$touch()"
              @blur="$v.email.$touch()"
            />
            <v-text-field
              name="password"
              v-model="password"
              label="Inserte su clave"
              hint="Al menos 6 y maximo 12 caracteres. Debe haber al menos una letra y un número"
              min="8"
              :disabled="!btnActivo"
              max="12"
              :error-messages="passwordError"
              :type="ocultarClave ? 'password' : 'text'"
              :append-icon="ocultarClave? 'mdi-eye-off' : 'mdi-eye'"
              prepend-inner-icon="mdi-key"
              @click:append="ocultarClave= !ocultarClave"
              @change="$v.password.$touch()"
              @blur="$v.password.$touch()"
            />
            <v-text-field
              name="nombres"
              :disabled="!btnActivo"
              :error-messages="nombresError"
              label="Nombres"
              v-model="nombres"
              prepend-inner-icon="mdi-account"
              @change="$v.nombres.$touch()"
              @blur="$v.nombres.$touch()"
              @keypress="soloLetras('nombres',$event)"
            />
            <v-text-field
              name="apellidos"
              :disabled="!btnActivo"
              :error-messages="apellidosError"
              label="Apellidos"
              v-model="apellidos"
              prepend-inner-icon="mdi-account"
              @change="$v.apellidos.$touch()"
              @blur="$v.apellidos.$touch()"
              @keypress="soloLetras('apellidos',$event)"
            />
            <v-text-field
              name="cedula"
              :error-messages="cedulaError"
              label="Cedula de identidad"
              :disabled="!btnActivo"
              v-model="cedula"
              prepend-inner-icon="mdi-account-card-details"
              hint="Inserte V, E, J ó P seguido solamente de números"
              @keypress="formato('cedula', $event)"
              max="8"
              @change="$v.cedula.$touch()"
              @blur="$v.cedula.$touch()"
            />
            <v-text-field
              name="telefono"
              label="Telefono"
              v-model="telefono"
              :disabled="!btnActivo"
              :error-messages="telefonoError"
              prepend-inner-icon="mdi-cellphone"
              hint="Solo inserte números"
              max="12"
              @keypress="formato('telefono', $event)"
              @change="$v.telefono.$touch()"
              @blur="$v.telefono.$touch()"
            />
            <v-text-field
              name="trabajaEstudia"
              :error-messages="trabajaEstudiaError"
              label="¿Donde trabaja o estudia?"
              :disabled="!btnActivo"
              v-model="trabajaEstudia"
              prepend-inner-icon="mdi-school"
              @change="$v.trabajaEstudia.$touch()"
              @blur="$v.trabajaEstudia.$touch()"
            />
            <v-checkbox
              v-model="ponente"
              label="Deseo inscribir un cartel como ponente"
              :disabled="!btnActivo"
            />
            <vue-recaptcha
              sitekey="6Lc5qcEUAAAAANFpDNg3Q1JgHLYZ8736IXyR_Pfj"
              ref="invisibleRecaptcha"
              size="invisible"
              @verify="verifyRecaptcha"
              @expired="btnActivo=true"
              :loadRecaptchaScript="true"
            />              
            <v-btn
                color="success"
                block
                type="submit"
                :disabled="!btnActivo"
                :loading="!btnActivo"
                @click="onSubmit"
              >
              Registrar
              </v-btn>
            <v-snackbar :v-model="btnActivo" top vertical color="info">
              La carga de archivos {{estadoCarga}}
            </v-snackbar>
          </v-form>
        </v-col>
      </v-row>
  </v-container>
</template>

<script>
import VueRecaptcha from 'vue-recaptcha';
import { validationMixin } from 'vuelidate'
import { required, maxLength, minLength, email,alphaNum, integer, helpers } from 'vuelidate/lib/validators'
import axios from 'axios'
import firebaseApp from '../firebaseInit'
import rp from 'request-promise'
import { auth } from 'firebase';
export default {
  components: {
    VueRecaptcha
  },

  mixins:[validationMixin],

  validations: {
    email: { required, email },
    password:{
      required,
      maxLength: maxLength(12),
      minLength:minLength(6),
      alphaNum
    },
    nombres:{required},
    apellidos:{required},
    telefono:{
      required,
      telefono:(valor)=>/04[2,1]{1}[4,6,2]{1}-[0-9]{7}/g.test(valor)
    },
    cedula:{required},
    trabajaEstudia:{required}
  },

  data() {
    return {
      email:'',
      password:'',
      nombres:'',
      apellidos:'',
      telefono:'',
      cedula:'',
      trabajaEstudia:'',
      ponente:false,
      ocultarClave:true,
      formularioValido:false,
      registrarUsuario:'https://us-central1-primer-ciined.cloudfunctions.net/newUser',
      btnActivo:true,
      progresoCarga:0,
      estadoCarga:''
    }
  },
  created() {

  },
  methods: {
    formato(input, evento){
      if(input=='cedula')
      {
        switch (this.cedula.length) {
          case 0:
            if(!/[VEP]/g.test(evento.key.toUpperCase()))
            {
              evento.preventDefault()
            }
            else
            {
              this.cedula=evento.key.toUpperCase() + '-'
              evento.preventDefault()
            }
            break;
          case 1:
            this.cedula=this.cedula + '-'
            break;
          case 10:
            event.preventDefault()
            break;
          default:
            if(!/[0-9]/g.test(evento.key))
              {
                evento.preventDefault();
              }
            break;
        }
      }
      if(input=='telefono')
      {
        if(!/[0-9]/g.test(evento.key))
        {
          evento.preventDefault();
        }
        else if(this.telefono.length==4) {
          this.telefono=this.telefono + '-'
        }
      }
    },
    soloLetras(input, evento){
      if(!/[\sa-zA-Z]/g.test(evento.key)){
        evento.preventDefault()
      }
    },
    verifyRecaptcha (response){
      if(!response || this.$v.$invalid){
        this.btnActivo=true
        return
      }
      const data={
        recaptcha:response,
        nombres:this.nombres,
        apellidos:this.apellidos,
        telefono:this.telefono,
        cedula:this.cedula,
        trabajaEstudia:this.trabajaEstudia,
        email:this.email,
        password:this.password,
        ponente:this.ponente
      }
      rp({
            uri:this.registrarUsuario,
            method:'POST',
            json:true,
            body:data
        })
      .then(res=>{
        console.log(JSON.stringify(res))
        switch (res.status) {
          case 403:
            console.log('Cedula ya registrada')
          case 403:
            console.log('Captcha no Verificado');
          case 500:
            console.log('Error de servidor:' + res.message)
          case 502:
            console.log('Error en la verificacion del captcha')
          default:
            break;
        }
        if(res.status==201){
          console.log('Usuario creado')
          this.btnActivo=true
        }

      })
      .catch(err=>{
        if(err.code=='auth/uid-already-exists')
        {
          console.log('Correo electronico ya registrado')
        }
        console.log('Error en registro de usuario: ' + JSON.stringify(err))
        this.btnActivo=true
      })      
    },
    onSubmit() {
      console.log('Formulario valido: ' + !this.$v.$invalid)
      this.$v.$touch()
      if (!this.$v.$invalid)
      {
        this.btnActivo=false
        this.$refs.invisibleRecaptcha.execute()
        console.log("Esperando validacion de captcha")
      }
    },
    subirArchivo(archivo){
      const storage=firebaseApp.storage().ref()
      const afiche=storage.child(`afiches/${this.cedula}.jpg`)
      afiche.name=this.cedula + '.jpg'
      const carga=afiche.put(archivo)
      carga.on('state_changed',
      (snapshot)=>{ // Funcion de cambio de estado de la carga
        this.progresoCarga = (snapshot.bytesTransferred / snapshot.totalBytes) * 100
        switch (snapshot.state) {
          case firebase.storage.TaskState.PAUSED:
            this.estadoCarga='esta en pausa'
            break;
          case firebase.storage.TaskState.RUNNING:
            this.estadoCarga='esta en progreso...'
            break;
          case firebase.storage.TaskState.SUCCESS:
            this.estadoCarga='ha sido terminada'
            break;        
        }
      },(error)=>{ // Funcion en caso de error de la carga
        switch (error.code) {
          case 'storage/unauthorized':
            this.estadoCarga="no está autorizada"
            break;

          case 'storage/canceled':
            this.estadoCarga="ha sido cancelada"
            break;

          case 'storage/unknown':
            this.estadoCarga="genero un error desconocido"
            break;
        }
        this.btnActivo=true
      },(url)=>{// Funcion en caso de carga exitosa de la carga
        this.estadoCarga="registrando archivo cargado"
        this.btnActivo=true
      })

    }
  },
  computed: {/*
    auth(){
      return firebaseApp.auth()
    },*/
    emailError(){
      const validator=this.$v.email
      switch (true) {
        case !validator.$dirty:
          return '';
          break;
      case !validator.email:
        return 'Debe ingresar un correo valido'
        break;
      case !validator.required:
        return 'El correo es requerido'
        break;
      }
    },
    passwordError(){
      const validator=this.$v.password
        switch (true) {
          case !validator.$dirty:
            return ''
            break;
          case !validator.required:
            return "La clave es requerida"
            break;
          case !validator.maxLength:
            return "La clave no puede exceder los 12 caracteres"
            break;
          case !validator.minLength:
            return "La clave debe tener minimo 6 caracteres"
            break;
          case !validator.alphaNum:
            return "La clave debe contener al menos una letra y un numero"
            break;
        }
    },
    nombresError(){
      const validator=this.$v.nombres
      switch (true) {
        case !validator.$dirty:
          return ''
          break;      
        case !validator.required:
          return 'Nombres es requerido.'
          break;
      }

    },
    apellidosError(){
      const validator=this.$v.apellidos
      switch (true) {
        case !validator.$dirty:
          return ''
          break;      
        case !validator.required:
          return 'Apellidos es requerido.'
          break;
      }

    },
    cedulaError(){
      const validator=this.$v.cedula
      switch (true) {
        case !validator.$dirty:
          return ''
          break;      
        case !validator.required:
          return 'La cedula es requerida.'
          break;
      }

    },
    trabajaEstudiaError(){
      const validator=this.$v.trabajaEstudia
      switch (true) {
        case !validator.$dirty:
          return ''
          break;      
        case !validator.required:
          return 'Debe indicar donde trabaja o estudia.'
          break;
      }
    },
    telefonoError(){
      const validator=this.$v.telefono
      switch (true) {
        case !validator.$dirty:
          return ''
          break;      
        case !validator.required:
          return 'Debe indicar donde su numero de telefono.'
          break;
      }
    }
  }
}
</script>

<style>

</style>