<template>
  <v-app>
    <router-view />
  </v-app>
</template>

<script>
import firebaseApp from './firebaseInit'
import auth from 'firebase/auth'
import {mapMutations} from 'vuex'
export default {
  name: 'App',
  created() {
    firebaseApp.auth().onAuthStateChanged((user)=>{
      this.setUser(user)
    })
  },
  methods: {
    ...mapMutations(['setUser'])
  },
};
</script>
